.titulo{
    display: flex;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    background: linear-gradient(to left, #00937f, #2c9f49);
    color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}